@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        scroll-behavior: smooth;
    }

    body {
        @apply font-karla bg-primary;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .all-revert * {
        all: revert;
    }
}

@layer components {
    .page-left-padding {
        @apply xs:pl-10 lg:pl-16 pl-6;
    }

    .page-right-padding {
        @apply xs:pr-10 lg:pr-16 pr-6;
    }

    .page-x-padding {
        @apply page-left-padding page-right-padding max-w-[110rem] mx-auto w-full;
    }

    .remove-page-right-padding {
        @apply xs:-mr-10 lg:-mr-16 -mr-6;
    }

    .remove-page-left-padding {
        @apply xs:-ml-10 lg:-ml-16 -ml-6;
    }
}

.tox.tox-tinymce {
    border-radius: 0;
    border: solid 1px rgba(77, 81, 87, 0.5);
}

.tox .tox-menu {
    border-radius: 0 !important;
}

.tox .tox-editor-header,
.tox .tox-menubar,
.tox .tox-toolbar-overlord,
.tox .tox-toolbar__primary,
.tox .tox-statusbar,
.tox .tox-menu,
.tox .tox-collection--list .tox-collection__group,
.tox .tox-collection--list .tox-collection__item--enabled {
    background-color: #F1EFEF !important;
}

.tox .tox-collection--list .tox-collection__item--active {
    background-color: #cccccc !important;
}

.tox .tox-collection--list .tox-collection__item--active .tox-collection__item-label * {
    background-color: #cccccc !important;
}


.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.slide-enter {
    translate: 100% 0;
}
.slide-enter-active {
    translate: 0 0;
    transition: translate 300ms;
}
.slide-exit {
    translate: 0 0;
}
.slide-exit-active {
    translate: 100% 0;
    transition: translate 300ms;
}